/*
CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Main
*/

* {
  background-color: #D7B377;
}

/*
Header
*/

.title {
  text-transform: uppercase;
  color: #718367;
  padding: 20px;
  text-align: center;
}

/*
Nav
*/

.navigation {

}

.navigation ul {
  padding: 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #A7CECB;
}

.navigation ul li {

}

.navigation ul li a {
  color: #F5F0F6;
  background-color: #A7CECB;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #869D7A;
}

/*
IMG
*/

#img-div {
  float: right;
  border: 2px solid #A7CECB;
}

/*
Content
*/

#tribute-info ul li {
  background-color: #D7B377;
  color: #8F754F;
}


/*
Footer
*/
